[Unit]
Description=Userspace driver for Waveshare touchscreens

[Service]
EnvironmentFile=/etc/waveshare-touch-env
ExecStart=/usr/bin/env python -u /usr/bin/waveshare-touch-driver.py --devpath $DEVPATH

[Install]
WantedBy=multi-user.target
